{% extends "core/index.html" %}
{% load static %}

{% block title %}Perfil{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 600px;">
  <h2 class="mb-4 text-center">Mi perfil</h2>

  <form method="post" enctype="multipart/form-data" class="card p-4 shadow-sm">
    {% csrf_token %}
    

<div class="text-center mb-3">
  {% if user.avatar %}
    <img src="{{ user.avatar.url }}" alt="Avatar" class="rounded-circle border shadow-sm" width="120" height="120">
  {% else %}
    <img src="{% static 'core/default-avatar.png' %}" alt="Avatar por defecto" class="rounded-circle border shadow-sm" width="120" height="120">
  {% endif %}
</div>




    {% for field in form %}
      <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field }}
        {% for error in field.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}

    <div class="d-flex justify-content-between">
      <a href="{% url 'index' %}" class="btn btn-secondary">Volver</a>
      <button type="submit" class="btn btn-success">Guardar cambios</button>
    </div>
  </form>
</div>
{% endblock %}